doctype html
hmtl
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    title KEK
    link(rel="stylesheet", type="text/css" href="/helix.css")
    script(src="/helix.js")
    script.
      require('initialize');

  body
    #app
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-star
      |  Fav that shit